@model List<CashDeposit>

<div class="container">
    @foreach (var item in Model)
    {
    <div>
        <p>@item.Name</p>
        <p>@item.Description</p>
        <p>@item.CurrentAmount</p>
        <a asp-action="GetReport" asp-controller="CashDeposit" asp-route-id="@item.Id" class="btn btn-primary">Raport</a>
        <a asp-action="AddDepositAction" asp-controller="CashDeposit" asp-route-id="@item.Id" class="btn btn-primary">Nowa transakcja</a>
        <a asp-action="DepositDetails" asp-controller="CashDeposit" asp-route-id="@item.Id" class="btn btn-primary">Szczegóły</a>
    </div>
    }
</div>
