@model RentHandoverStartViewModel

    <form asp-action="handoverstart" asp-controller="rents" method="post" enctype="multipart/form-data">
        <input type="text" />

        <canvas width="1140" height="728" id="img" style="background-image :url('/diagram.png'); position: relative"></canvas>
        @foreach (var item in @Model.CarDamages)
        {
            <script type="text/javascript">
                console.log("srodek foreach");
                console.log("wywołanie funkcji");
                var canvas = document.getElementById("img");
                var btn = document.createElement("button");
                btn.style.position = "absolute";
                btn.style.height = '40px';
                btn.style.width = '40px';
                var xfinal = (@item.OffsetX + canvas.offsetLeft - 20);
                var yfinal = (@item.OffsetY + canvas.offsetTop - 20);
                btn.style.left = xfinal + 'px';
                btn.style.top = yfinal + 'px';
                btn.style.borderRadius = '20px';
                btn.setAttribute("class", "read-modal");
                btn.classList.add("data-targeturl");
                btn.setAttribute("data-targeturl","@Url.Action("PopulateModal","Rents",new { id = item.Id })")
                btn.id = ("");//TODO dodać id uszkodzenia z modelu
                document.body.appendChild(btn);
            </script>
        }
        @*<p>
            <canvas width="1000" height="400" id="signature"
                    style="border:1px solid black"></canvas><br>
            <button type="button" id="accept"
                    class="btn btn-primary">
                Accept signature
            </button>
            <button type="submit" id="save"
                    class="btn btn-primary">
                Save
            </button><br>
            <img width="500" height="400" id="savetarget"
                 style="border:1px solid black"><br>
            <input asp-for="@Model.SignatureDataUrl">
        </p>*@

        <button type="submit" class="btn btn-primary">Dodaj</button>
        <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
            <a href="#close" title="Close" class="modal-close-btn">X</a>
            <div class="modal-content">
                <div class="modal-body"></div>
            </div>
        </div>
    </form>



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script>
        $(function () {

    $('body').on('click', '.read-modal', function (e) {
        e.preventDefault();

        $("#modal-container").remove();

        $.get($(this).data("targeturl"), function (data) {

            $('<div id="modal-container" class="modal fade">'+
              '<div class="modal-content" id= "modalbody" >'+ 
                    data + '</div></div>').modal();

        });
    });
});

    $(document).ready(function ()
    {
        //var canvas = document.getElementById("img");
        //function placebutton(xcoord, ycoord) {
        //    var btn = document.createElement("button");
        //    btn.style.position = "absolute";
        //    btn.style.height = '40px';
        //    btn.style.width = '40px';
        //    var xfinal = (xcoord + canvas.offsetLeft - 20);
        //    var yfinal = (ycoord + canvas.offsetTop - 20);
        //    btn.style.left = xfinal + 'px';
        //    btn.style.top = yfinal + 'px';
        //    btn.style.borderRadius = '20px';
        //}
        

        $('#img').click(function (e) {
            var btn = document.createElement("button");
            var btn2 = document.createElement("button");
            btn2.style.position = "absolute";
            btn2.style.height = '40px';
            btn2.style.width = '40px';
            btn2.type = "button";
            var div = document.getElementById("img");
            btn.style.position = "absolute";
            btn.style.height = '40px';
            btn.style.width = '40px';
            btn.type = "button";
            var rect = div.getBoundingClientRect();
            var x = (e.clientX - rect.left) / (rect.right - rect.left) * 1140;
            var y = (e.clientY - rect.top) / (rect.bottom - rect.top) * 728;
            console.log(this.offsetLeft, this.offsetTop);
            console.log(x, y);
            var xfinal = (x + this.offsetLeft - 20);
            var yfinal = (y + this.offsetTop - 20);

            var xfinal2 = (@Model.Xcoord + this.offsetLeft - 20);
            var yfinal2 = (@Model.Ycoord + this.offsetTop - 20);

            btn.style.left = xfinal + 'px';
            btn.style.top = yfinal + 'px';
            btn.style.borderRadius = '20px';

            btn2.style.left = xfinal2 + 'px';
            btn2.style.top = yfinal2 + 'px';
            btn2.style.borderRadius = '20px';
            btn2.classList.add("data-toggle");
            btn2.setAttribute("data-toggle", "modal");
            btn2.setAttribute("data-target", "#myModal");
            
            document.body.appendChild(btn);
            //document.body.appendChild(btn2);
        });
    });

    </script>

    @*<script>
            $(function () {

                var canvas = document.querySelector('#signature');
                var pad = new SignaturePad(canvas);

                $('#accept').click(function () {

                    var data = pad.toDataURL();

                    $('#savetarget').attr('src', data);
                    $('#SignatureDataUrl').val(data);
                    pad.off();

                });

            });
        </script>*@

}