@model  IEnumerable<ServiceFacility>
<div>
    <a asp-action="create" asp-controller="servicefacilities" class="btn btn-primary">Dodaj</a>
</div>
    <div class="row">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <td colspan="4">Serwisy</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center text-dark">
                        @Html.ActionLink("Nazwa", "list", new { sortOrder = ViewBag.NameSortParam })
                    </th>
                    <th class="text-center text-dark">
                        Adres
                    </th>
                    <th class="text-center text-dark">
                        Kod Pocztowy
                    </th>
                    <th class="text-center text-dark">
                        @Html.ActionLink("Miasto", "list", new { sortOrder = ViewBag.CitySortParam })
                    </th>

                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Street</td>
                        <td>@item.ZipCode</td>
                        <td>@item.City</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

