@model CarDetailsViewModel

@{
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.MilageHistory.Select(x => x.Date.Date.ToString("yyyy-MM-dd")).ToList());
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.MilageHistory.Select(x => x.Milage).ToList());
    ViewBag.Title = Model.PageTitle;
}
<br />
    <div>
        <h1>Dane samochodu @Model.Car.RegistrationNumber</h1>
        <table class="table table-bordered table-hover table-striped">
            <tbody>
                <tr>
                    <th class="text-dark" style="text-align:left">Nr rej.</th>
                    <td>@Model.Car.RegistrationNumber</td>
                    <th class="text-dark" style="text-align:left">Data pierw. rej.</th>
                    <td>@Model.Car.RegistrationDate.ToString("dd-MM-yyyy")</td>
                    <th class="text-dark" style="text-align:left">VIN</th>
                    <td>@Model.Car.VIN</td>
                </tr>
                <tr>
                    <th class="text-dark" style="text-align:left">Marka</th>
                    <td>@Model.Car.Make</td>
                    <th class="text-dark" style="text-align:left">Poj. skokowa</th>
                    <td>@Model.Car.EngineSize.ToString()</td>
                    <th class="text-dark" style="text-align:left">Termin bad. tech.</th>
                    <td>@Model.Car.NextTechCheckDate.ToString("dd-MM-yyyy")</td>
                </tr>
                <tr>
                    <th class="text-dark" style="text-align:left">Model</th>
                    <td>@Model.Car.Model</td>
                    <th class="text-dark" style="text-align:left">Moc [kW/KM]</th>
                    <td>@Model.Car.PowerkW/@Model.Car.PowerHP</td>
                    <th class="text-dark" style="text-align:left">Kolor</th>
                    <td>@Model.Car.Color</td>
                </tr>
                <tr>
                    <th class="text-dark" style="text-align:left">Wersja</th>
                    <td>@Model.Car.SpecType</td>
                    <th class="text-dark" style="text-align:left">Paliwo</th>
                    <td>@Model.Car.FuelType.ToString()</td>
                    <th class="text-dark" style="text-align:left">Do przeglądu pozostało:</th>
                    <td>@Model.MilageToNextService km /@Model.DaysToNextService dni </td> 
                </tr>
                <tr>
                    <th class="text-dark" style="text-align:left">Rok produkcji</th>
                    <td>@Model.Car.ProductionYear</td>
                    <th class="text-dark" style="text-align:left">Nadwozie</th>
                    <td>@Model.Car.BodyType</td>
                    <th class="text-dark" style="text-align:left">Nast. przegląd:</th>
                    <td>@Model.Car.NextServiceMilage km / @Model.NextServiceDate.ToString("dd-MM-yyyy")</td> 
                </tr>
                <tr>
                    <th class="text-dark" style="text-align:left">Przebieg</th>
                    <td>@Model.Car.Milage</td>
                    <th class="text-dark" style="text-align:left">Skrzynia biegów</th>
                    <td>@Model.Car.GearboxType.ToString()</td>
                    <th class="text-dark" style="text-align:left"></th>
                    <td></td>
                </tr>
            </tbody>
        </table><!--tabela z danymi samochodu-->
        <a asp-action="edit" asp-controller="cars" asp-route-id="@Model.Car.Id" class="btn btn-primary">Edytuj samochód</a>
        <a asp-action="damages" asp-controller="cars" asp-route-id="@Model.Car.Id" class="btn btn-primary">Uszkodzenia</a>
        <!--<label id="Show" onclick="window.open('@Url.Action("PdfAsync", "Cars", new { id = @Model.Car.Id })', '_blank')">Show</label>-->
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseFiles">
                    Pliki
                </a>
            </div>
            <div id="collapseFiles" class="collapse hide" data-parent="#accordion">
                <div class="card-body">
                    <a asp-action="AddFile" asp-controller="cars" asp-route-id="@Model.Car.Id" class="btn btn-primary">Dodaj plik</a>
                    <vc:files-table controller-name="cars" id="@Model.Car.Id">
                    </vc:files-table>
                </div>
            </div>
        </div> <!-- Karta z plikami samochodu-->
        @if (Model.IsCurrentlyRented)
        {
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapsecurrentrent">
                        Aktualny wynajem
                    </a>
                </div>
                <div id="collapsecurrentrent" class="collapse hide" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <table class="table table-hover table-striped table-bordered col-sm-6">
                                <tbody>
                                    <tr>
                                        <th class="text-dark">Klient</th>
                                        <td><a asp-action="details" asp-controller="clients" asp-route-id="@Model.CurrentRent.ClientId">@Model.CurrentRentClientName</a></td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark">Użytkownik</th>
                                        <td>@Model.CurrentRent.UserName</td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark">Tel. do użytkownika</th>
                                        <td>@Model.CurrentRent.UserPhone</td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark">Mail do użytkownika</th>
                                        <td><a href="mailto:@{@Model.CurrentRent.UserMail}">@Model.CurrentRent.UserMail</a></td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark">Od</th>
                                        <td>@Model.CurrentRent.StartDate.ToString("dd-MM-yyyy")</td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark">Do</th>
                                        <td>@Model.CurrentRent.EndDate.ToString("dd-MM-yyyy")</td>
                                    </tr>

                                </tbody>
                            </table>
                            <table class="table table-hover table-striped table-bordered col-sm-6">
                                <tbody>
                                    <tr>
                                        <th class="text-dark">Typ</th>
                                        <td>@Model.CurrentRent.RentType.ToString()</td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark">Stawka</th>
                                        <td>@Model.CurrentRent.RentFee.ToString() PLN [netto]</td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark">Limit przebiegu</th>
                                        <td>@Model.CurrentRent.MilageLimit.ToString() km</td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark">Dopłata do kilometrów</th>
                                        <td>@Model.CurrentRent.OverMilageFee.ToString() PLN/km [netto]</td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark">Udział własny</th>
                                        <td>@Model.CurrentRent.DamageFee.ToString() PLN [netto]</td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark">Przebieg wydania</th>
                                        <td>placeholder</td>
                                    </tr>
                                    <tr>
                                        <th class="text-dark">Protokół</th>
                                        <td>placeholder</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        } <!--Jeżeli jest wynajęty to pokazuje się karta z aktualnym wynajmem-->
        @if (Model.PreviousRents != null)
        {
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseRentHistory">
                        Historia wynajmów
                    </a>
                </div>
                <div id="collapseRentHistory" class="collapse hide" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-hover table-striped table-bordered">
                            <!--id klienta,nazwa klienta, użytkownik,tel,mail, od, do, przebieg start, przebieg koniec, id wynajmu-->
                            <thead class="text-center text-dark">
                                <tr>
                                    <th>Klient</th>
                                    <th>Użytkownik</th>
                                    <th>Tel.</th>
                                    <th>Mail</th>
                                    <th>Od</th>
                                    <th>Do</th>
                                    <th>Przebieg start</th>
                                    <th>Przebieg koniec</th>
                                    <th>Akcja</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PreviousRents)
                                {
                                    <tr>
                                        <td><a asp-action="details" asp-controller="clients" asp-route-id="@item.Item1">@item.Item2</a></td>
                                        <td>@item.Item3</td>
                                        <td>@item.Item4</td>
                                        <td><a href="mailto:@{@item.Item5}">@item.Item5</a></td>
                                        <td>@item.Item6</td>
                                        <td>@item.Item7</td>
                                        <td>@item.Rest.Item1</td>
                                        <td>@item.Rest.Item2</td>
                                        <td><a asp-action="details" asp-controller="rents" asp-route-id="@item.Rest.Item3">Szczegóły wynajmu</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        } <!--Jeżeli jest historia wynajmów to pokazuje się kata z tabelą historii-->
         <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapsePolicy">
                    Polisa ubezpieczeniowa
                </a>
            </div>
            <div id="collapsePolicy" class="collapse hide" data-parent="#accordion">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Aktualizuj polisę</a> <!--Akcja do aktualizacji polisy-->
                    @if (Model.InsurancePolicy != null)
                    {
                        <table class="table table-hover table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <th class="text-left text-dark">Ważna od:</th>
                                    <td>@Model.InsurancePolicy.ValidFrom.ToString("dd-MM-yyyy hh:mm")</td>
                                    <th class="text-left text-dark">Numer polisy</th>
                                    <td><a asp-action="details" asp-controller="insurancePolicies" asp-route-id="@Model.InsurancePolicy.Id">@Model.InsurancePolicy.Number</a></td> 
                                </tr>
                                <tr>
                                    <th class="text-left text-dark">Ważna do:</th>
                                    <td>@Model.InsurancePolicy.ValidTo.ToString("dd-MM-yyyy hh:mm")</td>
                                    <th class="text-left text-dark">TU</th>
                                    <td>@Model.InsurancePolicy.InsuranceCompany</td>
                                </tr>
                                <tr>
                                    <th class="text-left text-danger">Kwota roczna [PLN netto]</th>
                                    <td>@Model.InsurancePolicy.Cost</td>
                                </tr>
                            </tbody>
                        </table>
                        <vc:files-table controller-name="insurancePolicies" id="@Model.InsurancePolicy.Id">
                        </vc:files-table>
                    }
                    else
                    {
                        <a asp-action="create" asp-controller="insurancepolicies" asp-route-id="@Model.Car.Id" class="btn btn-primary">Dodaj polisę</a>
                    }
                </div>
            </div>
        </div> <!--dane aktualnej polisy ubezpieczeniowej-->
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseService">
                    Historia Serwisowa
                </a>
            </div>
            <div id="collapseService" class="collapse hide" data-parent="#accordion">
                <div class="card-body">
                    <a asp-action="addservice" asp-controller="services" asp-route-id="@Model.Car.Id" class="btn btn-primary">Dodaj serwis</a>
                    <div class="row">
                        @if (Model.Services.Count() != 0)
                        {
                            <table class="col-lg-12 table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <td class="text-center">Nazwa</td>
                                        <td class="text-center">Adres</td>
                                        <td class="text-center">Data</td>
                                        <td class="text-center">Przebieg</td>
                                        <td class="text-center">Typ</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var service in Model.Services)
                                    {
                                        <tr>
                                            <td><a asp-action="details" asp-controller="services" asp-route-id="@service.Id">@service.Client.Name</a></td>
                                            <td>@service.Client.Street @service.Client.City @service.Client.Zip</td>
                                            <td>@service.Date</td>
                                            <td>@service.Milage km</td>
                                            <td>@service.ServiceType.ToString()</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                <vc:files-table controller-name="services" id="@service.Id">
                                                </vc:files-table>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>
                                Brak serwisów
                            </p>
                        }
                    </div>

                </div>
            </div>
        </div> <!--dane dotyczące serwisów-->
        <div class="card">

            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseTyres">
                    Opony
                </a>
            </div>
            <div id="collapseTyres" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    @if (Model.TyreInfos.Count() < 2)
                    {
                        <a asp-action="AddTyreInfo" asp-controller="TyreInfos" asp-route-id="@Model.Car.Id" class="btn btn-primary">Dodaj opony</a>
                    }
                    <div class="row">
                        @foreach (var item in Model.TyreInfos)
                        {
                            <div class="col-sm-6">
                                @if (item.TyreType == TyreType.Letnia)
                                {
                                    <h3>Opony letnie</h3>
                                }
                                else
                                {
                                    <h3>Opony zimowe</h3>
                                }
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                        <tr>
                                            <th class="text-dark">Status opony</th>
                                            <td>@item.TyreStatus.ToString()</td>
                                        </tr>
                                        <tr>
                                            <th class="text-dark">Nazwa</th>
                                            <td>@item.TyreName</td>
                                        </tr>
                                        <tr>
                                            <th class="text-dark">Wielkość</th>
                                            <td>@item.Width/@item.Profile/@item.Diameter</td>
                                        </tr>
                                        <tr>
                                            <th class="text-dark">Indeks prędkości</th>
                                            <td>@item.SpeedIndex</td>
                                        </tr>
                                        <tr>
                                            <th class="text-dark">Data Produkcji</th>
                                            <td>@item.Dot</td>
                                        </tr>
                                        <tr>
                                            <th class="text-dark">Aktualny serwis</th>
                                            @if (item.TyreShop == null)
                                            {
                                                <td> </td>
                                            }
                                            else
                                            {
                                                <td>@item.TyreShop.Name @item.TyreShop.City @item.TyreShop.Street</td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                    <a asp-controller="tyreinfos" asp-action="changetyres" asp-route-carId="@Model.Car.Id" class="btn btn-primary">Wymiana opon</a>
                </div>
            </div>
        </div><!--dane dotyczące opon-->
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseFinance">
                    Dane Finansowe
                </a>
            </div>
            <div id="collapseFinance" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    @if (@Model.FinancialInfo == null)
                    {
                        <a asp-action="Create" asp-controller="FinancialInfos" asp-route-carId="@Model.Car.Id" class="btn btn-primary">Dodaj informacje finansowe</a>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-controller="FinancialInfos" asp-route-id="@Model.FinancialInfo.Id" class="btn btn-primary">Edytuj informacje finansowe</a>
                        <div class="row">
                            <div class="col-sm-6">
                                <table class="table-bordered table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <th>Finansujący</th>
                                            <td>@Model.FinancialInfo.BankName</td>
                                        </tr>
                                        <tr>
                                            <th>Leasingobiorca</th>
                                            <td>@Model.FinancialInfo.Company</td>
                                        </tr>
                                        <tr>
                                            <th>Początek finansowania</th>
                                            <td>@Model.FinancialInfo.LeaseStartDate.ToString("dd-MM-yyyy")</td>
                                        </tr>
                                        <tr>
                                            <th>Koniec finansowania</th>
                                            <td>@Model.FinancialInfo.LeaseEndDate.ToString("dd-MM-yyyy")</td>
                                        </tr>
                                        <tr>
                                            <th>Ilość miesięcy</th>
                                            <td>@Model.FinancialInfo.LeaseTime</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table class="table-bordered table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <th>Typ finansowania</th>
                                            <td>@Model.FinancialInfo.LeaseType</td>
                                        </tr>
                                        <tr>
                                            <th>Wartość początkowa [netto]</th>
                                            <td>@Model.FinancialInfo.StartNetPrice</td>
                                        </tr>
                                        <tr>
                                            <th>Wykup [netto]</th>
                                            <td>@Model.FinancialInfo.EndBuyoutNetPrice</td>
                                        </tr>
                                        <tr>
                                            <th>Rata miesięczna</th>
                                            <td>@Model.FinancialInfo.MonthlyLeaseFee</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div><!--dane dotyczące finansów-->
        @if (Model.InsuranceClaims != null)
        {
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseClaims">
                        Szkody
                    </a>
                </div>
                <div id="collapseClaims" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-striped">
                            <thead class="text-center text-dark">
                                <tr>
                                    <th>Nr. szkody</th>
                                    <th>TU</th>
                                    <th>Status szkody</th>
                                    <th>Typ szkody</th>
                                    <th>Data wystąpienia</th>
                                    <th>Data zgłoszenia</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.InsuranceClaims)
                                {
                                <tr>
                                    <td><a asp-action="details" asp-controller="insuranceClaims" asp-route-id="@item.Id">@item.ClaimNo</a></td>
                                    @if (item.ClaimType == ClaimType.Wewnętrzna)
                                    {
                                        <td></td>
                                        <td></td>
                                        <td>@item.ClaimType.ToString()</td>
                                        <td>@item.ClaimDate.ToString("dd-MM-yyyy")</td>
                                        <td>@item.ReportDate.ToString("dd-MM-yyyy")</td>
                                    }
                                    else
                                    {
                                        <td>@item.InsuranceCompany</td>
                                        <td>@item.ClaimStatus.ToString()</td>
                                        <td>@item.ClaimType.ToString()</td>
                                        <td>@item.ClaimDate.ToString("dd-MM-yyyy")</td>
                                        <td>@item.ReportDate.ToString("dd-MM-yyyy")</td>
                                    }

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--dane dotyczące szkód-->
        }<!--Jeżeli były szkody na samochodzie to pokaże się karta ze szkodami-->
        @if (Model.PreviousInsurancePolicies!=null)
	{
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapsePolicies">
                Poprzednie polisy
            </a>
        </div>
        <div id="collapsePolicies" class="collapse hide" data-parent="#accordion">
            <div class="card-body">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr class="text-center text-dark ">
                            <th>Numer polisy</th>
                            <th>Ważna od:</th>
                            <th>Ważna do:</th>
                            <th>TU</th>
                            <th>Kwota roczna [PLN netto]</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PreviousInsurancePolicies)
                        {
                        <tr>
                            <td><a asp-action="details" asp-controller="insurancepolicies" asp-route-id="@item.Id">@item.Number</a></td>
                            <td>@item.ValidFrom.ToString("dd-MM-yyyy hh:mm")</td>
                            <td>@item.ValidTo.ToString("dd-MM-yyyy hh:mm")</td>
                            <td>@item.InsuranceCompany</td>
                            <td>@item.Cost.ToString()</td>
                            <td></td><!--link do kartonika OC z poprzedniej polisy-->
                        </tr>	 
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
	}<!--jeżeli były poprzednie polisy, pokaże się karta z nimi-->

    </div>
    <a asp-action="updatemilage" asp-controller="cars" asp-route-guid="@Model.Car.Id" class="btn btn-primary">Aktualizuj przebieg</a>
    <div class="row">
        <table class="table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="col-sm-4 text-dark text-center">Data</th>
                    <th class="col-sm-4 text-dark text-center">Przebieg</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.MilageHistory)
                {
                    <tr>
                        <td class="col-sm-4">@item.Date.ToString("yyyy-MM-dd")</td>
                        <td class="col-sm-4">@item.Milage.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!--tabela z historią przebiegów-->
    <div class="box-body">
        <div class="chart-container">
            <canvas id="chart" style="width:100%; height:500px"></canvas>
        </div>
    </div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">


        $(function () {
    var chartName = "chart";
        var ctx = document.getElementById(chartName).getContext('2d');
        var data = {
                labels: @Html.Raw(XLabels),
                datasets: [{
                    label: "Historia przebiegu",
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 0, 0)',
                        'rgba(0, 255, 0)',
                        'rgba(0, 0, 255)',
                        'rgba(192, 192, 192)',
                        'rgba(255, 255, 0)',
                        'rgba(255, 0, 255)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 0, 0)',
                        'rgba(0, 255, 0)',
                        'rgba(0, 0, 255)',
                        'rgba(192, 192, 192)',
                        'rgba(255, 255, 0)',
                        'rgba(255, 0, 255)'
                    ],
                    borderWidth: 1,
                    data: @Html.Raw(YValues)
    }]
            };
        var options = {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: true,
                            color: "rgba(255,99,164,0.2)"
                        }
}],
                    xAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                }
            };
        var myChart = new  Chart(ctx, {
                options: options,
           data: data,
           fill: false,
                type:'line'


            });
        });
    </script> <!--tworzenie wykresu przebiegu-->
}
