@model IEnumerable<Car>

<div class="row">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <td colspan="4">Samochody</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center text-dark">
                    @Html.ActionLink("Nr rej", "list", new { sortOrder = ViewBag.RegSortParm })
                </th>
                <th class="text-center text-dark">
                    Marka
                </th>
                <th class="text-center text-dark">
                    Model
                </th>
                <th class="text-center text-dark">
                    @Html.ActionLink("Rok Produkcji", "list", new { sortOrder = ViewBag.DateSortParm })
                </th>

            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td><a asp-action="details" asp-controller="cars" asp-route-guid="@item.Id">@item.RegistrationNumber</a></td>
                    <td>@item.Make</td>
                    <td>@item.Model</td>
                    <td>@item.ProductionYear</td>
                </tr>
            }
        </tbody>
    </table>
</div>