@model List<Tuple<FileDescription, string, Guid>>

@if (Model.Count == 0 || Model == null)
{
    <p>Brak plików do wyświetlenia</p>
}
else
{
    int counter = 1;
    <table class="table table-bordered table-striped table-hover">
        <thead class="text-center text-dark">
            <tr>
                <th>Lp.</th>
                <th>Nazwa pliku</th>
                <th>Typ pliku</th>
                <th>Data dodania</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@counter.</td>
                    <td>@item.Item1.FileName</td> <!--dodać link do wyświetlenia pliku w nowej karcie-->
                    <td>@item.Item1.FileType.ToString()</td>
                    <td>@item.Item1.DateAdded.ToString("dd-MM-yyyy")</td>

                    @if (item.Item3 != Guid.Empty)
                    {
                        string display = "Szczegóły";
                        //teksty linków do wyświetlenia szczegółów w zależności od typu pliku
                        if (item.Item2=="services")
                        {
                            display = "Szczegóły serwisu";
                        }
                        if (item.Item2=="insuranceclaims")
                        {
                            display = "Szczegóły szkody";
                        }
                        if (item.Item2=="carexpenses")
                        {
                            display = "Szczegóły kosztu";
                        }
                        string controllername = item.Item2+"controller";
                        
                        <td><a asp-action="details" asp-controller="@controllername" asp-route-id="@item.Item3">@display</a></td>

                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
                counter++;
            }
        </tbody>
    </table>
}
