@model FilesTableViewModel
<br />
<a asp-action="AddFile" asp-controller="FileHandler" asp-route-id="@Model.ItemId" asp-route-controller="@Model.Controller" asp-route-action="@Model.Action" class="btn btn-primary">Dodaj Plik</a>
<br />

@if (Model.List.Count == 0 || Model.List == null)
{
    <p>Brak plików do wyświetlenia</p>
}
else
{
    int counter = 1;
    <table class="table table-bordered table-striped table-hover">
        <thead class="text-center text-dark">
            <tr>
                <th>Lp.</th>
                <th>Nazwa pliku</th>
                <th>Typ pliku</th>
                <th>Data dodania</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
            <tr>
                <td class="text-center">@counter.</td>
                <td><a asp-action="downloadfile" asp-controller="filehandler" asp-route-id="@item.Item1.Id">@item.Item1.FileName@item.Item1.Ext</a></td>
                <td>@item.Item1.FileType.ToString()</td>
                <td>@item.Item1.DateAdded.ToString("dd-MM-yyyy")</td>
            </tr>
                counter++;
            }
        </tbody>
    </table>
}
