@model List<Tuple<FileDescription, string, Guid>>

@if (Model.Count == 0 || Model == null)
{
    <p>Brak plików do wyświetlenia</p>
}
else
{
    int counter = 1;
    <table class="table table-bordered table-striped table-hover">
        <thead class="text-center text-dark">
            <tr>
                <th>Lp.</th>
                <th>Nazwa pliku</th>
                <th>Typ pliku</th>
                <th>Data dodania</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="text-center">@counter.</td>
                <td><a asp-action="downloadfile" asp-controller="filehandler" asp-route-id="@item.Item1.Id">@item.Item1.FileName@item.Item1.Ext</a></td>
                <td>@item.Item1.FileType.ToString()</td>
                <td>@item.Item1.DateAdded.ToString("dd-MM-yyyy")</td>
            </tr>
                counter++;
            }
        </tbody>
    </table>
}
